/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*  */
/*  */
/*  */
/*  */

body {
  background-color: aliceblue;
  padding: 20px;
}

h1 {
  background-color: aquamarine;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: darkgreen;
}
.p-number {
  border: 1px solid brown;
  padding: 5px;
  border-radius: 5px;
}
.order {
  display: flex;
  text-align: center;
  align-items: center;
}

.icon {
  background-color: black;
  width: 50px;
  height: 50px;
}
.flex {
  display: flex;
}
.justify {
  justify-content: space-between;
}
.img-box {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}
.bagicon {
  background-color: black;
  border: 1px solid red;
  padding: 5px;
  /* margin-bottom: 10px; */
}

/* img {
  display: inline-block !important;
} */
.title {
  color: darkgreen;
  font-size: 1rem;
}
.price {
  padding: 0.4rem 0;
  color: brown;
}

.size-box {
  margin-top: 1.2rem;
}

.size-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid brown;
  margin: 8px;
}
.product-img {
  width: 270px;
}
.product-info {
  padding: 20px 0;
}

/* cart */
.cartlist {
  margin-bottom: 10px;
  padding: 10px;
  background-color: antiquewhite;
}
.cartproductimg {
  height: 50px;
  width: 50px;
}
.qty {
  padding: 10px 0;
}
.shoppingsummary {
  display: flex;
  background-color: #ffe08a;
  color: black;
  padding: 20px 20px;
  justify-content: space-between;
}
.cartcategory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 70px;
  right: 35px;
  width: 300px;
  /* height: 300px; */
  /* overflow-y: auto; */
  background-color: white;
  color: black;
}

@media screen and (max-width: 767px) {
  .flex {
    display: block;
  }
  .flex-r {
    display: flex;
  }
  .centre {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  figure {
    display: flex;
    justify-content: flex-end;
  }
  .p-number {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1.2rem 0;
  }
  .product-img {
    width: 100%;
  }
  .price {
    padding: 0.4rem 0;
    color: brown;
  }
  .title {
    color: darkgreen;
    font-size: 1.3rem;
  }
  .img-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
